*{
    box-sizing: border-box;
    font-family: '', sans-serif;
    margin: 0;
}

body{
    /*background-image: url(../img/fondo.jpeg);*/
    border: 0;
    padding: 0;
    width: 100%;
}

a{
    text-decoration: none;

}
p{
    text-decoration: none;
    color: #000;
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

/*headerSeccionLogo*/
.header{
  width: 100%;
  height: 25vh;
  background-color: blue;
}

.headerSeccionPrimeraParte{
    height: 15vh;
    box-shadow: -2px -2px 5px gray, 2px 2px 5px gray;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 63px 0px 44px;
    background-color: rgb(0, 61, 123);
}
.headerArticleLogo{
    width: 25%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.headerImgLogo{
    width: 100px;
    height: 15vh;
    padding: 2px;

}

/*headerSeccionForm*/
.headerArticleForm{
    width: 50%; /*50% de su contenedor*/
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: flex-end;
}

#buscadorForm{
    width: 90%; /*el 100% del 50%*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#searchInput {
    width: 500px;
    height: 30px;
    margin-right: 5px;
    background-color: white;
}
#botonBusqueda{
    padding: 10px;
    width: 40px;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;

}

/*frasesPage*/
.frasesPage{
    text-align: center;
    color: rgb(0, 61, 123) ;
    font-style: italic;
}
/*headerSeccionNav*/
.headerSeccionNav{
    border-top: solid 1px gray;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 61, 123);
    padding: 0px 20px; 
}

.headerNavUl{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.headerNavBoton{
    font-size: 25px;
    background-color: rgb(102, 134, 208);
    border-radius: 5px;
    padding: 2px;
    box-shadow: -2px -2px 5px gray, 2px 2px 5px gray;
    cursor: pointer;
}
.headerNavBoton:hover{
    background-color: #1358a3;
}

.headerNavBoton a{
    color: #fff;
}

/*footerSeccionNav*/
.footer{
    display: flex;
    height: 16vh;
    background-color: rgb(0, 61, 123);

}

.footerSeccionNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92%;
}

.footerLi{
    color: #fff;
    font-style: italic;
    font-weight:bolder ;
}
#footerArticleLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 8%;
}

.footerImgLogo{
    width: 61px;
    height: 56px;
    margin-right: 31px;
}

/*mainSections*/
main{
    min-height: 60vh;
}
.sectionTitulo{
    margin: 5px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
}
.titleArticle{
    padding:0px 12px 15px;
    margin-bottom: 2px;
}  

.mainSection{
    background-color:rgba(0, 61, 123, 0.241);
    margin: 0px 10px 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}



/*Para acomodar unicamente la seccion del disco*/
/*--------------
#discosSeccion .mainSection{
    height: 281px;
    display: flex;
    flex-wrap: wrap;

}

#discosSeccion .articleMain{
    height: 281px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 61, 123, 0.241);
}

#discosSeccion .articleMain img {
    height: 88px;
    width: 95px;
}
----------------*/

/*------------------------------*/

.articleMain{
    height: 212px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 61, 123, 0.241);
}

.mainSections .title{
    max-width: 120px;
    overflow: hidden;
            
}

.articleMain p {
    padding: 0 15px;
    font-size: 15px;
    text-align: start;
    margin: 0%;
}

.articleMain img{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 90px;
    border-radius: 7px;
}

.articleMain a{
    padding: 4px;
}

.articleMain h3{
    display: flex;
    text-align: start;
    margin: 0%;
    padding: 0 15px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
} 
  
/*seccion canciones*/
h6{
    margin-top: 0;
    display: flex;
    justify-content: center;
}


.verMas{
    font-size: 16px;
    margin-top: 7px;
    background-color: rgb(102, 134, 208);
    padding: 5px;
    cursor: pointer;
}

/*Detalle Canciones */
.sectionDetallesCancion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px;
    padding: 2px;
}

.articleDetallesSongs{
order: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgba(137, 184, 249, 0.508);
max-width: 650px;
}

.nameSongs{
    font-style: oblique ;
}

.styleName{
    font-size: 20px;
    font-weight: bold;
}

.imgTapaDisco{
    border-radius: 50%;
    margin-bottom: 4px;
    
}
.datosCancion{
   padding: 16px 0px;
}
.duracionCancion{
    font-size: 16px;
    padding: 5px 0px;
}
.lanzamiento{
    font-size: 16px;
    padding: 16px 0px;
}
.explicitSong{
    font-size: 16px;

    padding: 5px 0px;
}
#previewSong{
    padding: 4px 0px 11px 0px;
}

.btnsDetallesCanciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artistaSong{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btnsDetallesCanciones li {
    margin: 4px;
}

#agregarAMiPlaylist{
    background: rgb(102, 134, 208);
    border-radius: 11px;
    color: black;
    display: flex;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
}

.irAMiPlaylist{
    background: rgb(102, 134, 208);
    border-radius: 11px;
    color: black; 
    display: flex;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
}

/*Playlist*/
.sectionPlaylist{
    min-height: 60vh; /*de esta forma el footer se va al final de la pagina y a medida que se aumenta contenido se va aconomodando*/
}
.TituloPagePlaylist{
    color: rgb(0, 61, 123) ;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.listaCancionesFavoritas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.liFavoritos:hover {
    transform:scale(1.07);
    background-color: rgb(190, 199, 221);
}

/*Detalle Artistas */
.contenedorDetallesArtistas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.articleDetallesArtistas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(137, 184, 249, 0.508);
    min-width: 38%;
    min-height: 66vh;
}
.h2NombreCantante{
    font-style: oblique ;
    font-size: 40px;
}

#fotoCantante{
    width: 76%;
    padding: 9px;
}
.articleDetallesArtistasListado{
    padding: 20px;
}

.tituloTopFiveAlbums{
    color: rgb(0, 61, 123) ;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.listaAlbumesArtista li{
    /* list-style-type: numerica;  debate*/
    margin-left: 9px;
    padding: 9px;
    font-weight: bolder;
}
.listaAlbumesArtista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*Detalle Discos*/
.sectionDetallesDisco{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px;
    padding: 2px;
}

.articleDetallesDisco{
order: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgba(137, 184, 249, 0.508);
max-width: 650px;
padding: 9px;

}

.TapaDisco{
    margin-bottom: 4px;
    
}

.articleCancionesDisco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cancionAlbumH4{
    color: rgb(0, 61, 123) ;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 5px;
}

.listaCancionesDisco{
    padding: 0px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.liCancionesAlbum{
    padding: 2px;
    list-style-type: numerica; 
}

.enlasesStyle{
    color: #000;
}

/*Página de Generos*/
.seccionGeneros{
    min-height: 60vh;/*Acomodo de footer*/

}

.tituloGeneros{
 text-align: center;
 padding: 20px;
 font-size: 27px;
}

.articleGeneros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 3px;
}

.listaGeneros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aClickeo{
    color: #000;
    width: 50%;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #4a78a9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}

.aClickeo:hover{
    background-color: #1d65b1;
}
/*mediaQuery*/
/*Modo Oscuro*/